    </main>

    <footer>
        <h3>About</h3>
        <p>MUSE - your favorite music player · <a href="https://github.com/muse-player/muse-server">GitHub</a></p>
        
        <h3 id="options">Options</h3>

        <p>
            <h4>Only official results?</h4>
            <p>This way, no music videos, lyric videos, fan-made edits, or anything else will be shown.</p>
            <label class="switch">
                <input type="checkbox" name="only-official" checked>
                <span class="slider"></span>
            </label>
        </p>
        
        <p>
            <h4>Only relevant results?</h4>
            <p>Show only relevant results with a  high view count, standard length and not made by the "various artists" channel.</p>
            <label class="switch">
                <input type="checkbox" name="only-official" checked>
                <span class="slider"></span>
            </label>
        </p>
    </footer>
    </form>
</body>
</html>