<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/muse.css">
    <link rel="stylesheet" href="/bi.css">
</head>
<body>
    <form method="get" action="/search">
    <nav>
        <h1>
            <a href="/">
                <img src="/assets/logo.png">
                <span>MUSE</span>
                <div class="gear">
                    <a href="#options">
                        <i class="bi bi-gear-wide"></i>
                    </a>
                </div>
            </a>
        </h1>
    </nav>

    <main>
        <div id="search">
            <input name="q" type="text" placeholder="Search or drag & drop a video in here" value="{{ query }}" autofocus>
            <button type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
