{% with 
    title=title,
    query=query
%}
    {% include '_top.html' %}
{% endwith %}    
    <div class="results {{ view }}">
        {% for r in results %}
        <div class="result">
            <a href="/watch?v={{ r.id }}">
                <img class="thumbnail" src="{{ r.thumbnails.0.url }}">
                <span class="duration">{{ r.duration }}</span>
                <h3>{{ r.duration }} {{ r.title }}</h3>
            </a>
                <h5>{{ r.channel.name }} · {{ r.viewCount.short }} · {{ r.publishedTime or '<i class="bi bi-patch-check-fill"></i>' | safe }}</h5>
        </div>
        {% endfor %}
    </div>

{% include '_end.html' %}